Blinking_LEDS_on_RaspberryPi.json
[{"id":"e46dcf67.79b85","type":"comment","z":"66107877.760ba8","name":"LED 閃爍測試","info":"","x":90,"y":600,"wires":[]},{"id":"8c67a4e6.eae038","type":"trigger","z":"66107877.760ba8","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","name":"","x":380,"y":740,"wires":[["a3d6e41a.aabd88","dbfe891c.06da98"]]},{"id":"a3d6e41a.aabd88","type":"function","z":"66107877.760ba8","name":"","func":"if (msg.payload == \"off\")\n\tcontext.state = 0;\nif (msg.payload == \"on\")\n\tcontext.state = 1;\n\nif (context.state == 1)\n{\n\tif (msg.payload == 0)\n\t\treturn msg;\n\telse\n\t\treturn;\n}\nelse\n\treturn;","outputs":1,"x":496,"y":890,"wires":[["8b9a42ec.d1f99"]]},{"id":"8b9a42ec.d1f99","type":"delay","z":"66107877.760ba8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":724,"y":891,"wires":[["8c67a4e6.eae038"]]},{"id":"571df0db.15f5b","type":"switch","z":"66107877.760ba8","name":"","property":"payload","rules":[{"t":"eq","v":"on"},{"t":"eq","v":"off"}],"checkall":"true","outputs":2,"x":161,"y":806,"wires":[["a3d6e41a.aabd88","8c67a4e6.eae038"],["a3d6e41a.aabd88"]]},{"id":"dbfe891c.06da98","type":"rpi-gpio out","z":"66107877.760ba8","name":"LED","pin":"12","set":"","level":"0","out":"out","x":623,"y":709,"wires":[]},{"id":"6117b5ca.0b8cac","type":"inject","z":"66107877.760ba8","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":101,"y":692,"wires":[["571df0db.15f5b","200ad44f.ee894c"]]},{"id":"200ad44f.ee894c","type":"delay","z":"66107877.760ba8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":255,"y":639,"wires":[["1fd250b4.6043df"]]},{"id":"1fd250b4.6043df","type":"change","z":"66107877.760ba8","name":"Switch off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"x":422,"y":635,"wires":[["571df0db.15f5b"]]}]
