Calculator REST Service.json
[{"id":"1c16d601.497c9a","type":"http in","z":"72a857e5.fce378","name":"HTTP Request Calculator Add","url":"/add","method":"get","swaggerDoc":"","x":148.96022033691406,"y":243.8721466064453,"wires":[["5fdaf6bd.6cf118"]]},{"id":"1d56906a.413fd","type":"http response","z":"72a857e5.fce378","name":"HTTP Response","x":567.9545135498047,"y":428.5653381347656,"wires":[]},{"id":"5fdaf6bd.6cf118","type":"function","z":"72a857e5.fce378","name":"Calculator add","func":"\nvar x = 0;\nvar y= 0;\nvar total = 0;\nvar responseMsg = \"\";\n\nx = msg.req.query.x;\ny = msg.req.query.y;\n\ntotal = parseInt(x) + parseInt(y);\n\nresponseMsg = \"{\\\"total\\\": \\\"\" + total + \"\\\"}\";\n\nmsg.payload = responseMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":313.9517059326172,"y":301.9801025390625,"wires":[["4c2a5e3a.62c1e"]]},{"id":"4c2a5e3a.62c1e","type":"json","z":"72a857e5.fce378","name":"","x":438.6846160888672,"y":364.647705078125,"wires":[["1d56906a.413fd"]]}]
