data clearup 副程式.json
[{"id":"f6803f50.96e0e","type":"subflow","name":"data clearup","info":"The documention","in":[{"x":290,"y":280,"wires":[{"id":"c40da128.a1534"}]}],"out":[{"x":700,"y":280,"wires":[{"id":"99842d3f.2727b","port":0},{"id":"710b42ee.ca7b6c","port":0}]}]},{"id":"c40da128.a1534","type":"function","z":"f6803f50.96e0e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":280,"wires":[["99842d3f.2727b","710b42ee.ca7b6c"]]},{"id":"99842d3f.2727b","type":"function","z":"f6803f50.96e0e","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[[]]},{"id":"710b42ee.ca7b6c","type":"template","z":"f6803f50.96e0e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","x":570,"y":360,"wires":[[]]},{"id":"1c8b643f.9093ac","type":"inject","z":"82d144a9.662658","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":220,"wires":[["2b75b73.1553748"]]},{"id":"864b9e17.3e765","type":"debug","z":"82d144a9.662658","name":"","active":true,"console":"false","complete":"false","x":550,"y":220,"wires":[]},{"id":"2b75b73.1553748","type":"subflow:f6803f50.96e0e","z":"82d144a9.662658","name":"data clearup","x":350,"y":220,"wires":[["864b9e17.3e765"]]}]
