HTTP-based chat server.json
[{"id":"f16952aa.c26b2","type":"http in","z":"a1b841be.81fe1","name":"","url":"/chat2","method":"post","swaggerDoc":"","x":150,"y":540,"wires":[["f10873bc.7258e"]]},{"id":"765c8993.d6e228","type":"http response","z":"a1b841be.81fe1","name":"","x":661,"y":539,"wires":[]},{"id":"69ff43c7.113e7c","type":"template","z":"a1b841be.81fe1","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"\n  <iframe src=\"https://iot-asia.mybluemix.net/dialog\" name=\"iframe_a\" height=\"70%\"></iframe>\n  <form name=\"frm\" action=\"https://iot-asia.mybluemix.net/chat2\" method=\"post\">\n  <b>Message from {{payload}}</b><br>\n  <input type=\"text\" name=\"message\" size=\"90%\"/>\n  <input type=\"hidden\" name=\"user\" value=\"{{payload}}\"><br>\n  <button type=\"submit\">Submit</button>\n  </form>\n  \n  <SCRIPT language=\"JavaScript\">\n  window.setInterval(\"reloadIFrame();\", 1000);\n  function reloadIFrame() { window.frames[\"iframe_a\"].location.reload(); }\n  </SCRIPT>\n","x":487,"y":539,"wires":[["765c8993.d6e228"]]},{"id":"4563f561.75f14c","type":"http in","z":"a1b841be.81fe1","name":"","url":"/dialog","method":"get","swaggerDoc":"","x":143,"y":600,"wires":[["d390f3de.fe599"]]},{"id":"1028ca89.fa1d35","type":"http response","z":"a1b841be.81fe1","name":"","x":661,"y":600,"wires":[]},{"id":"d8ef20f.ca7c7e","type":"template","z":"a1b841be.81fe1","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"{{{payload}}}","x":489,"y":600,"wires":[["1028ca89.fa1d35"]]},{"id":"f10873bc.7258e","type":"function","z":"a1b841be.81fe1","name":"","func":"  if (msg.req.body[\"user\"] != \"\") {\n    msg.payload = msg.req.body[\"user\"]\n  }\n  if (msg.req.body[\"message\"] != undefined) {\n    context.global.dialog += \n    msg.req.body[\"user\"]+': '+msg.req.body[\"message\"]+\"<BR>\";\n  }\ncontext.global.dialog = context.global.dialog || \"\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":539,"wires":[["69ff43c7.113e7c"]]},{"id":"d390f3de.fe599","type":"function","z":"a1b841be.81fe1","name":"","func":"msg.payload = context.global.dialog;\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":599,"wires":[["d8ef20f.ca7c7e"]]},{"id":"6f6b071f.8c7ca8","type":"http in","z":"a1b841be.81fe1","name":"","url":"/login","method":"get","swaggerDoc":"","x":140,"y":480,"wires":[["45b378a8.171af8"]]},{"id":"45b378a8.171af8","type":"template","z":"a1b841be.81fe1","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"\n  <form action=\"https://iot-asia.mybluemix.net/chat2\" method=\"post\">\n  <b>User</b><br> <input type=\"text\" name=\"user\"/><br>\n  <button type=\"submit\">Submit</button>\n  </form>","x":310,"y":480,"wires":[["8f8eab62.e65ae8"]]},{"id":"8f8eab62.e65ae8","type":"http response","z":"a1b841be.81fe1","name":"","x":470,"y":480,"wires":[]},{"id":"ff4ce4e8.e96dc8","type":"comment","z":"a1b841be.81fe1","name":"HTTP-based chat server","info":"Node-Red 範例教學 – HTTP網路聊天室","x":190,"y":400,"wires":[]}]
