MQTT test.json
[{"id":"151592a1.f20c0d","type":"json","z":"f46a0014.23275","name":"","x":270,"y":85.99999046325684,"wires":[["91d0d931.be50e8"]]},{"id":"91d0d931.be50e8","type":"debug","z":"f46a0014.23275","name":"","active":true,"console":"true","complete":"payload","x":460,"y":85.99999046325684,"wires":[]},{"id":"24bebb05.7748c4","type":"HiveMQ out","z":"f46a0014.23275","name":"","topic":"noderedlecture/sensor","x":569.9999542236328,"y":170.99998474121094,"wires":[]},{"id":"c909539e.48807","type":"inject","z":"f46a0014.23275","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":75,"y":168.99998474121094,"wires":[["9e3ef7a0.0fa798"]]},{"id":"9e3ef7a0.0fa798","type":"random","z":"f46a0014.23275","name":"","low":"1","high":"10","inte":"true","x":245,"y":168.99998474121094,"wires":[["f70c2346.ad9b3"]]},{"id":"f70c2346.ad9b3","type":"function","z":"f46a0014.23275","name":"","func":"msg.payload = {'d' : { 'random' : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":168.99998474121094,"wires":[["24bebb05.7748c4"]]},{"id":"cb282007.c69c5","type":"mqtt in","z":"f46a0014.23275","name":"","topic":"tesstttt","qos":"1","broker":"36249069.6421b","x":130,"y":85.99999046325684,"wires":[["151592a1.f20c0d"]]},{"id":"a487de24.36d25","type":"mqtt in","z":"f46a0014.23275","name":"","topic":"noderedlecture/sensor","qos":"0","broker":"3b76bcbb.64c1d4","x":100,"y":220,"wires":[["f7b1a912.befb28"]]},{"id":"f7b1a912.befb28","type":"json","z":"f46a0014.23275","name":"","x":290,"y":220,"wires":[["596e3e0a.d2df1"]]},{"id":"596e3e0a.d2df1","type":"debug","z":"f46a0014.23275","name":"","active":true,"console":"false","complete":"false","x":490,"y":220,"wires":[]},{"id":"36249069.6421b","type":"mqtt-broker","z":"","broker":"broker.mqttdashboard.com","port":"8000","clientid":"clientId-Ge2RjVcN1q","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3b76bcbb.64c1d4","type":"mqtt-broker","z":"","broker":"broker.mqttdashboard.com","port":"8000","clientid":"clientId-2oOzA2WApN","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
