NodeRED on Raspberry Pi part 2.json
[{"id":"a60e2c61.08816","type":"inject","z":"e212e322.b220d","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":150,"y":200,"wires":[["98f8fce2.3b0be"]]},{"id":"98f8fce2.3b0be","type":"random","z":"e212e322.b220d","name":"","low":"1","high":"10","inte":"true","x":320,"y":200,"wires":[["8936116.1720ff"]]},{"id":"8936116.1720ff","type":"function","z":"e212e322.b220d","name":"","func":"msg.payload = {'d' : { 'random' : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["efcd8de7.f8b77","8e41c98d.e84248","ad02e3e4.e9049","e149422a.fd913"]]},{"id":"efcd8de7.f8b77","type":"debug","z":"e212e322.b220d","name":"","active":true,"console":"false","complete":"false","x":690,"y":260,"wires":[]},{"id":"8e41c98d.e84248","type":"wiotp out","z":"e212e322.b220d","authType":"d","qs":"true","qsDeviceId":"8e41c98d.e84248","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":670,"y":200,"wires":[]},{"id":"f2e00bad.ff3508","type":"comment","z":"e212e322.b220d","name":"NodeRED on Raspberry Pi part 2","info":"","x":190,"y":20,"wires":[]},{"id":"584b413c.e6069","type":"wiotp in","z":"e212e322.b220d","authType":"d","deviceKey":"31fc3106.7d889e","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":130,"y":360,"wires":[["1088cc99.97c293"]]},{"id":"1088cc99.97c293","type":"display","z":"e212e322.b220d","active":true,"x":560,"y":360,"wires":[]},{"id":"ad02e3e4.e9049","type":"wiotp out","z":"e212e322.b220d","authType":"d","qs":"true","qsDeviceId":"","deviceType":"","deviceId":"","event":"","format":"json","qos":"","name":"","x":700,"y":140,"wires":[]},{"id":"e149422a.fd913","type":"wiotp out","z":"e212e322.b220d","authType":"d","qs":"true","qsDeviceId":"","deviceType":"","deviceId":"","event":"","format":"json","qos":"","name":"","x":700,"y":80,"wires":[]},{"id":"31fc3106.7d889e","type":"wiotp-credentials","z":"","name":"","org":"gm3otm","serverName":"gm3otm.internetofthings.ibmcloud.com","devType":"RaspberryPi","devId":"resbe001iot","keepalive":"60","cleansession":true,"tls":"","usetls":true}]
