Simple Web page with live data updates via websocket.json
[{"id":"31cc24ef.0f455c","type":"inject","z":"66107877.760ba8","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":210,"y":1040,"wires":[["96afd53.0e0c228"]]},{"id":"bb24ccf5.d1cdb","type":"websocket out","z":"66107877.760ba8","name":"","server":"faed9e8a.4e18c","client":"","x":630,"y":1040,"wires":[]},{"id":"5185928d.f4e6ec","type":"http response","z":"66107877.760ba8","name":"","x":590,"y":980,"wires":[]},{"id":"6a65bba6.ff6074","type":"http in","z":"66107877.760ba8","name":"","url":"/simple","method":"get","swaggerDoc":"","x":150,"y":980,"wires":[["c49d4e3.472bfb"]]},{"id":"c49d4e3.472bfb","type":"template","z":"66107877.760ba8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":390,"y":980,"wires":[["5185928d.f4e6ec"]]},{"id":"96afd53.0e0c228","type":"function","z":"66107877.760ba8","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1040,"wires":[["bb24ccf5.d1cdb"]]},{"id":"f7f117f6.9ad4f8","type":"websocket in","z":"66107877.760ba8","name":"","server":"faed9e8a.4e18c","client":"","x":430,"y":1080,"wires":[["3efefd6b.cd5752"]]},{"id":"3efefd6b.cd5752","type":"debug","z":"66107877.760ba8","name":"","active":true,"console":"false","complete":"false","x":670,"y":1080,"wires":[]},{"id":"a17cd152.77713","type":"comment","z":"66107877.760ba8","name":"Simple Web page with live data updates via websocket","info":"使用 websocket 即時 更新 Data\n的簡單網頁\n具有click 反應","x":280,"y":940,"wires":[]},{"id":"faed9e8a.4e18c","type":"websocket-listener","z":"66107877.760ba8","path":"/ws/simpleled","wholemsg":"false"}]

//使用 websocket 即時 更新 Data
//的簡單網頁
//具有click 反應
