Web page.json
[{"id":"eae98a8e.4a88c8","type":"template","z":"666b5096.89a17","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Drinks available on : {{payload.day}}</h1>\n\n<ul>\n{{#payload.drinks}}\n<li>{{drink}}</li>    \n{{/payload.drinks}}\n</ul>\n\n<h3>Specials:</h3> \n<hr>\n<ul>\n{{^payload.specials}}\nNone today, sorry      \n{{/payload.specials}}\n\n{{#payload.specials}}\n<li>{{drink}}</li>\n{{/payload.specials}}\n</ul>","x":410,"y":180,"wires":[["14b5d34b.3660dd"]]},{"id":"e080be6f.d6704","type":"function","z":"666b5096.89a17","name":"Drinks","func":"msg.payload =   \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["eae98a8e.4a88c8"]]},{"id":"9c93fd2d.bb0a6","type":"function","z":"666b5096.89a17","name":"Specials","func":"msg.payload = \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}],\n          'specials':[{'drink': 'hot chocolate'}, \n                      {'drink': 'espresso'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":200,"wires":[["eae98a8e.4a88c8"]]},{"id":"5a88e749.27b388","type":"http in","z":"666b5096.89a17","name":"網頁目錄","url":"/menu","method":"get","swaggerDoc":"","x":60,"y":160,"wires":[["e080be6f.d6704"]]},{"id":"5699152c.332ecc","type":"http response","z":"666b5096.89a17","name":"","x":770,"y":180,"wires":[]},{"id":"af432d51.b34aa","type":"http in","z":"666b5096.89a17","name":"/specials","url":"/specials","method":"get","swaggerDoc":"","x":60,"y":200,"wires":[["9c93fd2d.bb0a6"]]},{"id":"14b5d34b.3660dd","type":"function","z":"666b5096.89a17","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":180,"wires":[["5699152c.332ecc"]]}]
