從Web的OpenData抓數值下來.json
[{"id":"7a14817.c6d3b8","type":"inject","z":"66107877.760ba8","name":"程式執行的頻率","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":340,"wires":[["a4ed1ef5.7db44"]]},{"id":"a4ed1ef5.7db44","type":"http request","z":"66107877.760ba8","name":"英國電力開放式資料","method":"GET","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","tls":"","x":210,"y":420,"wires":[["5a52eb93.3f87d4"]]},{"id":"5a52eb93.3f87d4","type":"function","z":"66107877.760ba8","name":"英國電力附載顯示","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n// 電綠\n\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\n\nreturn null;","outputs":"2","noerr":0,"x":305.00001525878906,"y":476,"wires":[["c96c764.0925a88"],["cda0a9af.112ab8"]]},{"id":"c96c764.0925a88","type":"debug","z":"66107877.760ba8","name":"顯示供電數據","active":true,"console":"false","complete":"payload","x":550,"y":420,"wires":[]},{"id":"cda0a9af.112ab8","type":"debug","z":"66107877.760ba8","name":"判斷有無超過負荷","active":true,"console":"false","complete":"payload","x":550,"y":480,"wires":[]},{"id":"3b042868.2795c8","type":"comment","z":"66107877.760ba8","name":"從Web的OpenData抓數值下來","info":"","x":160,"y":300,"wires":[]}]
