擷取資料 測試.json
[{"id":"ef4fc553.c3fdf8","type":"inject","z":"329e60d5.b5d5a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142.96022033691406,"y":65.97158813476562,"wires":[["67cf1fe7.389f5"]]},{"id":"a69dd03c.19dfd","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"false","x":477.6816711425781,"y":95.86071395874023,"wires":[]},{"id":"67cf1fe7.389f5","type":"function","z":"329e60d5.b5d5a","name":"","func":"var sensor = global.get('sensor');\n\nvar data = sensor.read(11, 4, function(err, temperature, humidity) {\n    if (!err) {\n        \n        \n        console.log('temp: ' + temperature.toFixed(1) + 'C, ' +\n            'humidity: ' + humidity.toFixed(1) + '%'\n        );\n        \n    }\n}\n);\nmsg.payload = data ;\nreturn msg;   \n","outputs":1,"noerr":0,"x":244.95456314086914,"y":172.69033908843994,"wires":[["a69dd03c.19dfd"]]}]
