測試Node-red 循環.json
[{"id":"cfccce10.6a6ee","type":"debug","z":"66107877.760ba8","name":"每五秒跟NodeRed打招呼","active":true,"console":"false","complete":"payload","x":290,"y":220,"wires":[]},{"id":"805c0dc0.c1dc4","type":"inject","z":"66107877.760ba8","name":"計時器","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":100,"wires":[["30f21707.c5a098"]]},{"id":"30f21707.c5a098","type":"function","z":"66107877.760ba8","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString('Hello NodeJS');\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":160,"wires":[["cfccce10.6a6ee"]]},{"id":"5a072586.d7e9bc","type":"comment","z":"66107877.760ba8","name":"測試Node-red 循環","info":"","x":120,"y":60,"wires":[]}]
