物聯網Basic.json
[{"id":"54efff59.015a8","type":"inject","z":"5c65bc60.577e74","name":"","topic":"","payload":"Hello Node-Red from Dweetio","payloadType":"str","repeat":"600","crontab":"","once":true,"x":170,"y":160,"wires":[["1a8208e.88374f7"]]},{"id":"1a8208e.88374f7","type":"dweetio out","z":"5c65bc60.577e74","thing":"thingName","name":"","x":560,"y":160,"wires":[]},{"id":"f8090356.70bb9","type":"dweetio in","z":"5c65bc60.577e74","thing":"thingName","name":"","x":150,"y":200,"wires":[["57701e2.77599e"]]},{"id":"57701e2.77599e","type":"debug","z":"5c65bc60.577e74","name":"","active":true,"console":"true","complete":"payload","x":540,"y":200,"wires":[]},{"id":"57ac9519.cc5e0c","type":"comment","z":"5c65bc60.577e74","name":"物聯網 資料傳輸測試","info":"test\n","x":170,"y":100,"wires":[]},{"id":"f564a7e.cca2b58","type":"openweathermap in","z":"5c65bc60.577e74","name":"","lon":"","lat":"","city":"Taipei","country":" TW","language":"en","x":190,"y":440,"wires":[["9fb9d457.851718","c09e0380.c9645"]]},{"id":"9fb9d457.851718","type":"debug","z":"5c65bc60.577e74","name":"","active":true,"console":"false","complete":"false","x":540,"y":400,"wires":[]},{"id":"c09e0380.c9645","type":"freeboard","z":"5c65bc60.577e74","name":"freeboard_weather","x":550,"y":440,"wires":[]},{"id":"8668dcdc.e7905","type":"comment","z":"5c65bc60.577e74","name":"天氣資料顯示","info":"","x":170,"y":400,"wires":[]}]
