Remote_switch_LED_lights/Node-red-code.json
[{"id":"5f9812cb.e5906c","type":"inject","z":"66107877.760ba8","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":210,"y":1280,"wires":[["78068399.0a095c"]]},{"id":"7566b2ad.5e60bc","type":"websocket out","z":"66107877.760ba8","name":"led","server":"faed9e8a.4e18c","client":"","x":610,"y":1280,"wires":[]},{"id":"5344eb8b.ab8124","type":"http response","z":"66107877.760ba8","name":"","x":590,"y":1220,"wires":[]},{"id":"3977be9a.524382","type":"http in","z":"66107877.760ba8","name":"","url":"/simpleled","method":"get","swaggerDoc":"","x":160,"y":1220,"wires":[["80e07eb4.9fd3d"]]},{"id":"80e07eb4.9fd3d","type":"template","z":"66107877.760ba8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>simpleled Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simpleled\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simpleled\",\"ws/simpleled\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>simpleled Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"on\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":390,"y":1220,"wires":[["5344eb8b.ab8124"]]},{"id":"78068399.0a095c","type":"function","z":"66107877.760ba8","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1280,"wires":[["7566b2ad.5e60bc"]]},{"id":"c0737e84.b4dbb","type":"websocket in","z":"66107877.760ba8","name":"","server":"faed9e8a.4e18c","client":"","x":430,"y":1340,"wires":[["28596740.f9ba98","2cba25b0.f0089a","242acec4.c3ae92"]]},{"id":"28596740.f9ba98","type":"debug","z":"66107877.760ba8","name":"","active":true,"console":"false","complete":"false","x":650,"y":1340,"wires":[]},{"id":"675b64a9.1ce42c","type":"trigger","z":"66107877.760ba8","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","name":"","x":692.0000305175781,"y":1518.0000457763672,"wires":[["2d3c2543.9cad0a","468623d4.060dfc"]]},{"id":"2d3c2543.9cad0a","type":"function","z":"66107877.760ba8","name":"","func":"if (msg.payload == \"off\")\n\tcontext.state = 0;\nif (msg.payload == \"on\")\n\tcontext.state = 1;\n\nif (context.state == 1)\n{\n\tif (msg.payload == 0)\n\t\treturn msg;\n\telse\n\t\treturn;\n}\nelse\n\treturn;","outputs":1,"x":658.0000915527344,"y":1634.0000495910645,"wires":[["f2c42c6f.d30fe"]]},{"id":"f2c42c6f.d30fe","type":"delay","z":"66107877.760ba8","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900.0000953674316,"y":1629.000171661377,"wires":[["675b64a9.1ce42c"]]},{"id":"242acec4.c3ae92","type":"switch","z":"66107877.760ba8","name":"","property":"payload","rules":[{"t":"eq","v":"on"},{"t":"eq","v":"off"}],"checkall":"true","outputs":2,"x":358.0000190734863,"y":1543.0000476837158,"wires":[["2d3c2543.9cad0a","675b64a9.1ce42c"],["2d3c2543.9cad0a"]]},{"id":"468623d4.060dfc","type":"rpi-gpio out","z":"66107877.760ba8","name":"LED","pin":"12","set":"","level":"0","out":"out","x":887.0000305175781,"y":1487.0001049041748,"wires":[]},{"id":"2cba25b0.f0089a","type":"delay","z":"66107877.760ba8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":675,"y":1399,"wires":[["5f042cf7.dc5b54"]]},{"id":"5f042cf7.dc5b54","type":"change","z":"66107877.760ba8","name":"Switch off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"x":842,"y":1395,"wires":[["242acec4.c3ae92"]]},{"id":"faed9e8a.4e18c","type":"websocket-listener","z":"66107877.760ba8","path":"/ws/simpleled","wholemsg":"false"}]
